<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- <div class="wrapper"> -->

    <header>
      <div class="topLine">
        <h4>Mystery Word</h4>
        <h4>You have 8 guesses left.</h4>
      </div>
    </header>

    <main>
      <div class="word">
        <h1 class="spaces">{{lettersfound}}</h1>
      </div>

      <div class="guesses">
        <form class="" action="/" method="post">
          <input type="text" name="letter" value="" placeholder="Guess a letter"> <button type="submit">Make a guess</button>
        </form>
      </div>

      <div class="letterguessesd">
        <p>Letters guessed:</p>
        <p>
          {{#lettersthatuserguessed}}
          {{.}}
          {{/lettersthatuserguessed}}
        </p>
      </div>
    </main>
  </body>
</html>
